aside {
    color: black;
    /* display: none;  */
    position: absolute; 
    width: 308px;
}

a {
    color: rgb(55, 56, 103);
}

div-1 {
    position: absolute;
}

.sidebar {
    margin-left: 20px;
    text-align: left;
}

.sidebar-text-lorem {
    color: rgb(55, 56, 103);
    margin-top: 30px;
}

.sidebar-text {
    color: rgb(55, 56, 103);
    margin-bottom: 10px;
}

.sidebar-head {
    color: rgb(55, 56, 103);
    font-size: 180%;
    border-bottom: solid 5px #AACE9B;
    font-weight: bold;
}

.sidebar-head-touch {
    color: rgb(55, 56, 103);
    font-size: 180%;
    border-bottom: solid 5px #AACE9B;
    font-weight: bold;
    margin-top: 120px;
}

.div-aside {
    border-bottom: solid 1px #c4c4c4;
    margin-bottom: 40px;
    margin-top: 10px;
}

i {
    color: #AACE9B;
}