* {
    font-family: "Sofia", sans-serif;
}

input {
    width: 250px;
}

button {
    background-color: #AACE9B;
    color: white;
    width: 327px;
    height: 48px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
}

.menu {
    margin-left: 300px;
}

.h1 {
    text-align: center;
}

.data-container {
    border: 3px solid black;
    border-radius: 149px; 
    /* margin-left: 500px;
    margin-right: 400px; */
    width: 750px;
    height: 770px;
    display: inline-block;
}

.registers {
    column-count: 2;
    column-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    column-width: px;
}

#button {
    justify-content: center;
    margin-left: 30%;
}



@media (max-width: 1440px){
    aside{
        display: none;
    }

    #green-bar {
        margin-left: 0px;
    }
}

@media (max-width: 750px){
    .registers {
        column-count: 1;
        column-gap: 20px;
        margin-left: 100px;
        margin-right: 100px;
        column-width: px;
    }

    .data-container {
        border: 3px solid black;
        border-radius: 149px; 
        /* margin-left: 500px;
        margin-right: 400px; */
        width: 475px;
        height: 1440px;
        display: inline-block;
    }

    .menu {
        margin-left: 0px;
    }

}