<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <script src="https://kit.fontawesome.com/5c447739a7.js" crossorigin="anonymous"></script>

    <title>Sign-up.html</title>
</head>

<body>
    <aside class="sidebar">
        <div class="div-1">
            <p class="sidebar-head">Menu</p>
            <nav>
                <div class="div-aside">
                    <a href="index.html">Home</a>
                </div>
                <div class="div-aside">
                    <a href="#">Sign Up</a>
                </div>
                <div class="div-aside">
                    <a href="login.html">Login</a>
                </div>
            </nav>
        </div>
        <div>
            <p class="sidebar-head-touch">Get in touch</p>
            <p class="sidebar-text-lorem">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="sidebar-text">
                <i class="fa-solid fa-envelope"></i>
                informacion@gmail.com
            </div>
            <div class="sidebar-text">
                <i class="fa-solid fa-phone-volume"></i>
                (0341) 123-4567
            </div>
            <div class="sidebar-text">
                <i class="fa-solid fa-location-dot"></i>
                Mendoza 1234, Rosario, Argentina
            </div>
        </div>
    </aside>
    <header>
        <div class="container-title">
            <img class="menu" width=30px height=30px src="../assets/images/menu.png">
        </div>
        <div class="title-header">
            <h1>Trackgenix</h1>
        </div>
        <nav>
            <ul class="top-header">
                <li class="images-top">
                    <img src="../assets/images/linkedin-log.png">
                </li>
                <li class="images-top">
                    <img src="../assets/images/Twitter-logo.png">
                </li>
                <li class="images-top">
                    <img src="../assets/images/facebook-logo-3-1.png">
                </li>
                <li class="images-top">
                    <img src="../assets/images/instagram-logo.png">
                </li>
            </ul>
        </nav>
    </header>
    <hr id="green-bar" class="green-bar">
    <main>
        <section class="data-container">
            <div class="h1">
                <h1>Register</h1>
            </div>
            <form id="signup">
                <div class="registers">
                    <p>First name:</p>
                    <input id="firstname" type="name" name="firstname" placeholder="First name">
                    <div id="firstname-div"></div>
                    <p>Last name:</p>
                    <input id="lastname" type="name" name="lastname" placeholder="Last name">
                    <div id="lastname-div"></div>
                    <p>DNI:</p>
                    <input id="dni" type="number" name="dni" placeholder="DNI">
                    <div id="dni-div"></div>
                    <p>Birth</p>
                    <p>date:</p>
                    <input id="birthdate" type="date" name="birthdate" placeholder="Birth date">
                    <div id="birthdate-div"></div>
                    <p>Phone number:</p>
                    <input id="phonenumber" type="number" name="phonenumber" placeholder="Phone number">
                    <div id="phonenumber-div"></div>
                    <p>Adress:</p>
                    <input id="adress" type="text" name="adress" placeholder="Adress">
                    <div id="adress-div"></div>
                    <p>Location:</p>
                    <input id="location" type="text" name="location1" placeholder="Location">
                    <div id="location-div"></div>
                    <p>Postal code:</p>
                    <input id="postalcode" type="number" name="postalcode" placeholder="Postal code">
                    <div id="postalcode-div"></div>
                    <p>Email:</p>
                    <input id="email" type="text" name="email" placeholder="Email">
                    <div id="email-div"></div>
                    <p>Password:</p>
                    <input id="pass" type="password" name="pass" placeholder="Password">
                    <div id="pass-div"></div>
                    <p>Repeat password:</p>
                    <input id="passrepeat" type="password" name="passrepeat" placeholder="Repeat password">
                    <div id="passrepeat-div"></div>

                </div>
                <div id="button">
                    <button type="submit">Create</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <hr class="green-bar">
        <img src="../assets/images/linkedin-log.png">
        <img src="../assets/images/Twitter-logo.png">
        <img src="../assets/images/facebook-logo-3-1.png">
        <img src="../assets/images/instagram-logo.png">

        <h5>Rosario, Argentina</h5>

        <h5>Copyright © 2022 Trackgenix SA. All rights reserved.
        </h5>
    </footer>
</body>

<script src="../javascript/employee-signup.js"></script>

</html>