* {
    font-family: "Sofia", sans-serif;
}

body {
    color: rgb(55, 56, 103);
}

header,
section,
footer,
hr {
    margin-right: 10px;
    margin-left: auto;
    width: 1110px;
}

aside {
    color: black;
}

aside {
    position: fixed;
    width: 308px;
}

a {
    color: rgb(55, 56, 103);
}

.sidebar-texto {
    color: rgb(55, 56, 103);
}

.sidebar-text {
    color: rgb(55, 56, 103);
}

.sidebar-span {
    margin-left: 20px;
}

.sidebar-head {
    color: rgb(55, 56, 103);
    font-size: 180%;
    border-bottom: solid 7px #AACE9B;
    font-weight: bold;
}

.div-aside {
    border-bottom: solid 1px #c4c4c4;
    margin-bottom: 60px;
    margin-top: 10px;
}

i {
    color: #AACE9B;
}

.first-block {
    display: inline-block;
    width: 35%;
}

h1 {
    font-weight: bold;
    margin-right: 600px;
}

.images-top {
    display: inline-block;
    margin: 10px;
}

#section-1 {
    width: 75%;
}

.articles-1 {
    display: inline-block;
    width: 40%;
}



.barra-1 {
    width: 100%;
    height: 2.08px;
    background-color: #AACE9B;
    left: 165px;
    top: 122.08px;
    border-bottom: 1px solid #AACE9B;
    transform: rotate(-0.11deg);
}

.features-span {
    display: inline-block;
    width: 40%;
}

.top-header {
    display: inline-block;

}

.button-1 {
    color: #AACE9B;
    padding: 14px 36px;
    font-weight: bold;
    left: 22.22%;
    right: 66.67%;
    top: 16.21%;
    bottom: 82.26%;
    background: #FFFFFF;
    align-items: center;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
}

.rombo {
    width: 100px;
    position: relative;
    bottom: 100px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/reloj1.png");
}

.rombo-2 {
    width: 100px;
    position: relative;
    bottom: 100px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/roles1.png");
}

.rombo-3 {
    width: 100px;
    position: relative;
    bottom: 100px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/reports1.png");
}

.rombo-4 {
    width: 100px;
    position: relative;
    bottom: 100px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/gestion1.jpg");
}

.articles-2 {
    display: inline-block;
    width: 24%;
}

input {
    padding: 10px 12px;
    padding-bottom: 15px;
    left: 0%;
    right: 51.35%;
    top: 17.43%;
    bottom: 22.68%;
    width: 40%;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
}

select {
    padding: 10px 12px;
    padding-bottom: 15px;
    left: 0%;
    right: 51.35%;
    top: 17.43%;
    bottom: 22.68%;
    width: 40%;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
}

.span-why {
    display: inline-block;
}

textarea {
    left: 100%;
    right: 100%;
    top: 19.83%;
    bottom: 0%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
}

#span-textarea {
    display: block;
    margin-top: 15px;
}

.button-2 {
    font-weight: bold;
    color: rgb(55, 56, 103);
    width: 160px;
    height: 60px;
    left: 0px;
    top: 16px;
    background: #AACE9B;
    border-radius: 5px;
}

.second-paragraph {
    display: inline-block;
    width: 60%;
}

.last-div {
    display: inline-block;
}

.last-paragraph {
    display: inline-block;
    width: 60%;
}

.div-why {
    border-right: solid 3px black;
}

.last-list {
    display: inline-block;
    margin-right: 200px;
}

ol>li {
    font-weight: bold;
}

footer,
h5 {
    text-align: center;
}