* {
    font-family: "Sofia", sans-serif;
}

body {
    color: rgb(55, 56, 103);
}

aside {
    color: black;
}

aside{
    position:fixed;
    width: 308px;
}
.sidebar-texto{
    color:rgb(55, 56, 103);
}

.sidebar-text{
    color:rgb(55, 56, 103); 
}

.sidebar-head{
    color:rgb(55, 56, 103);
    font-size: 180%;
    border-bottom: solid 7px #AACE9B;
}

.div-aside{
    border-bottom: solid 1px gray;
    margin-bottom: 40px; 
}

header, section, footer, hr {
    margin-right: 10px;
    margin-left: auto;
   width: 1110px;
}

i {
    color: #AACE9B;
}

h1 {
    font-weight: bold;
    margin-right: 600px;
}

.articles-1 {
    display: inline-block;
    width: 40%;
}

.articles-2 {
    display: inline-block;
    width: 24%;
}

#section-1 {
    width: 60%;
}

.features-span{
    display: inline-block;
    width: 40%;
}

.first-block{
     display: inline-block;
    width: 35%;
}

.images-top {
    display: inline-block;
    margin: 10px;
}

.top-header{
    display: inline-block;
    
}

.rombo {
    width: 100px; 
    position: relative;
    bottom: 100px;
    height: 100px; 
    border: 3px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/reloj1.png");
}

.rombo-2 {
    width: 100px; 
    position: relative;
    bottom: 100px;
    height: 100px; 
    border: 3px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/roles1.png");
}

.rombo-3 {
    width: 100px; 
    position: relative;
    bottom: 100px;
    height: 100px; 
    border: 3px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/reports1.png");
}

.rombo-4 {
    width: 100px; 
    position: relative;
    bottom: 100px;
    height: 100px; 
    border: 3px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: url("../images/gestion1.jpg");
}

.button-1 {
    color: #AACE9B;
    padding: 14px 36px;
    font-weight: bold;
    left: 22.22%;
    right: 66.67%;
    top: 16.21%;
    bottom: 82.26%;
    background: #FFFFFF;
    align-items: center;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
}

input {
    padding: 10px 12px;
    padding-bottom: 15px;
    left: 0%;
    right: 51.35%;
    top: 17.43%;
    bottom: 22.68%;
    width: 40%;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 30px; 
    margin-bottom: 30px; 
}

select {
    padding: 10px 12px;
    padding-bottom: 15px;
    left: 0%;
    right: 51.35%;
    top: 17.43%;
    bottom: 22.68%;
    width: 40%;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    left: 100%;
    right: 100%;
    top: 19.83%;
    bottom: 0%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-2 {
    font-weight: bold;
    color: rgb(55, 56, 103);
    width: 160px;
    height: 60px;
    left: 0px;
    top: 16px;
    background: #AACE9B;
    border-radius: 5px;
}

.last-div{
    display: inline-block;
    
}

.last-paragraph{
    display: inline-block;
    width: 60%;
}

.second-paragraph{
    display: inline-block;
    width: 60%;
}

.span-why{
    display: inline-block;
}

.div-why{
    border-right: solid 3px black;
}

#span-textarea{
    display: block;
    margin-top: 15px;
}

.barra-1 {
    width: 100%;
    height: 2.08px;
    background-color: #AACE9B;
    left: 165px;
    top: 122.08px;
    border-bottom: 1px solid #AACE9B;
    transform: rotate(-0.11deg);
}

.last-list{
    display: inline-block;

}

footer,
h5 {
    text-align: center;
}