html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}

h2 {
    text-align: center;
    margin: 10px;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
}

input {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline;
    flex-wrap: wrap;
    width: 316px;
}

textarea {
    width: 610px;
    margin-bottom: 20px;
}

select {
    width: 316px;
    margin-bottom: 20px;
    display: block;
}

ol>h3 {
    text-align:center;
}

ol>li {
    font-weight: bold;
    text-align: center;
}

ol>h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

li>a {
    text-decoration: none;
    color: rgb(55, 56, 103);
}

.section-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    margin-right: 30px;
}

.green-bar {
    width: 100%;
    height: 2px;
    background-color: #AACE9B;
    left: 165px;
    top: 122px;
    border-bottom: 1px solid #AACE9B;
    transform: rotate(-0.11deg);
}

.father-container {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
}

.head-block {
    width: 320px;
    margin-right: 20px;
}

.button-learn-more{
    display: flex;
    width: 154px;
    height: 56px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 115px;
}

.img-container {
    margin: 15px;
    width: 94.19px;
    height: 94.19px;
    overflow: hidden;
    transform: rotate(45deg);
    border-radius: 3px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  }

.img-container img {
    position: relative;
    top: -25px;
    left: -25px;
    width: 141%;
    height: 141%;
    transform: rotate(-45deg);
  }

.features{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.features-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.features-div {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #373867;
    width: 60%;
    margin-bottom: 10px;
}

.articles-features{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
    max-width: 350px;
}

.features-div{
    margin-top: 30px;
    
}

.properties {
    display: flex;
    flex-wrap: wrap;
}

.articles-properties{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;
    width: 350px;
}

.leadership{
    font-size: 19px;
}

.inside-properties {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
}

.inside-properties h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

.inside-properties>p{
    padding-right: 10px;
    padding-left: 10px;
}

.Contact {
    align-content: center;
}

.span-textarea {
    display: flex;
}


.button-green {
    font-weight: bold;
    color: rgb(55, 56, 103);
    width: 140px;
    height: 60px;
    left: 0px;
    top: 16px;
    background: #AACE9B;
    border-radius: 5px;
    margin-right: 30px;
}

.button-learn-more {
    color: #AACE9B;
    padding: 14px 36px;
    font-weight: bold;
    left: 22.22%;
    right: 66.67%;
    top: 16.21%;
    bottom: 82.26%;
    background: #FFFFFF;
    align-items: center;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
}

.Our-history>h3 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.begin-container > p {
    display: flex;
    justify-content: center;
}

.general-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.crucial-container {
    width: 350px;
    flex-grow: 1;
    margin-left: 5%;
    text-align: center; 
    justify-content: space-around;
    margin-top: 10px;
}   

.last-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.crucial-paragraph {
    padding-top: 10px;
}

.crucial-container {
    flex-grow: 3;
    align-self: center;
}

.last-paragraph {  
  width: 100%;
}

.last-div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: space-around;
    margin-top: 15px;
}

.last-list {
    display: inline-block;
    margin-right: 150px;
    align-items: center;
    text-align: center;
    list-style-position: inside;
    width: 350px;
    margin: auto;
}

.section-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


    

